* {
  font-family: 'Open Sans', sans-serif;
}
html {
  padding: 1em;
}
.button {
  text-decoration: none;
  color: black;
  background-color: none;
  border: 2px solid black;
  padding: 1em 2em;
}
.button:hover, .button:focus, .button:active {
  background: black;
  color: white;
}
.buttonwrapper {
  margin: 2em auto;
}

