body {
  background-color: #3FC5EF;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 10px;
  padding-bottom: 81px;   /* Height of the footer */
}

p {
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

fieldset a {
  font-size: .3em;

}

button {
  background: #44B0DD;
  font-family: 'Roboto', sans-serif;
  border: 1px solid;
  box-shadow: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: white;
  display: block;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-transform: uppercase;
  margin-bottom: 5%;
}

button:hover {
  color: white;
  background: #369EC0;
  background-image: -webkit-linear-gradient(top, #369EC0, #01566F);
  background-image: -moz-linear-gradient(top, #369EC0, #01566F);
  background-image: -ms-linear-gradient(top, #369EC0, #01566F);
  background-image: -o-linear-gradient(top, #369EC0, #01566F);
  background-image: linear-gradient(to bottom, #369EC0, #01566F);
  text-decoration: none;
}

button:focus {
  outline: none;
}

#txt {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 15%;
  padding-top: 10%;
  font-size: 15.5em;
}

input, label {
  display: block;
  margin: auto;
}

#container {
   min-height: 100%;
   position: relative;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 51px;
}

footer ul {
  margin-right: 3%;
}

footer li {
  font-size: 3em;
  display: inline;
  text-decoration: none;
  float: right;
  padding-right: 4%;
}
