* {
  font-family: 'Open Sans', sans-serif;
}
html {
  padding: 1em;
}
.numInput {
  font-size: 1.5em;
  padding: 3px;
  border: none;
  border-bottom: 2px solid black;
  box-shadow: none;
}
.numInput:focus {
  outline: none;
}
