body {
  background-color: #3FC5EF;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

html {
  padding: 1em;
}

.button {
  text-decoration: none;
  color: black;
  background-color: none;
  border: 2px solid black;
  padding: 1em 2em;
}
.button:hover, .button:focus, .button:active {
  background: black;
  color: white;
}
.buttonwrapper {
  margin: 2em auto;
}

button {
  background: #44B0DD;
  border: 1px solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: white;
  display: block;
  font: italic 18px 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}

button:hover {
  background: #369EC0;
  background-image: -webkit-linear-gradient(top, #369EC0, #01566F);
  background-image: -moz-linear-gradient(top, #369EC0, #01566F);
  background-image: -ms-linear-gradient(top, #369EC0, #01566F);
  background-image: -o-linear-gradient(top, #369EC0, #01566F);
  background-image: linear-gradient(to bottom, #369EC0, #01566F);
  text-decoration: none;
}
