<div ng-controller="breakController" >
  <div class="inputarea">
    <div>
      <p>You need to move your body. If you stop your body, idle it—which sitting is—it crumbles on every level.</p>
      <button href="" ng-click="getBreak()">Give me a break</button>
    </div>
  </div>
  <div class="output" ng-show="currentBreak">
    <p><strong>Break: </strong>{{currentBreak.name}}</p>
    <p><strong>Instructions: </strong>{{currentBreak.instructions}}</p>
    <p><strong>Estimated time: </strong>{{currentBreak.minutes}} minutes.</p>
  </div>
</div>

