<div ng-controller="breakController" >
  <div class="inputarea">
    <div>
      <p class="sixteen columns">
        Don't sit still all day. Click the button to get an idea for a quick break...
      </p>
      <ul>
        <li>
          <button class="start" href="" ng-disabled="timerRunning" ng-click="breakTimer()">
            {{!timerRunning ? "Start timer" : "Timer running..."}}
          </button>
        </li>
        <li>
          <button href="" ng-click="getBreak()">
            Break now
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="output" ng-show="currentBreak">
    <p><strong>{{currentBreak.name}} </strong>{{currentBreak.instructions}}</p>
    <p>Estimated time: {{currentBreak.minutes}} minutes.</p>
  </div>
</div>

<!-- <div ng-controller="userController">
  <form name="userform" ng-hide="newuser">
    <input type="text" required ng-model="user.email" placeholder="email"/>
    <input type="password" required ng-model="user.password" placeholder="password"/>
    <button ng-disabled="userform.$invalid" ng-click="signIn()">Sign In</button>
  </form>
  <button ng-click="newuser = !newuser">{{!newuser ? 'Create new User' : 'Sign in to existing account'}}</button>

  <form name="newuserform" ng-show="newuser">
    <input type="text" required ng-model="user.email" placeholder="email"/>
    <input type="password" required ng-model="user.password" placeholder="password"/>
    <input type="password" required ng-model="user.passwordConfirmation" placeholder="password confirmation"/>
    <button ng-disabled="newuserform.$invalid" ng-click="createNewUser()">Create New User</button>
  </form>
</div> -->
